.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(59, 55, 55);
  color: white;
  width: 100vw;
  height: 5vh;
  top: 0px;
}
.leftNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}
.rightNav {
  display: flex;
  margin-right: 2vw;
  align-items: center;
}
.navcon {
  margin: 0 1vw;
}
