.problemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8vh;
}

.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4mm ridge rgba(211, 220, 50, 0.6);
  border-radius: 30px;
  width: 50vw;
  height: 10vh;
  margin: 10vh auto 0 auto;
  background-color: yellow;
}
